<button class="add-post btn btn-dark">Add New Post</button>

{{#each posts as |post|}}
<div class="post-card card" data-post="{{id}}">
    <h1 data-post="{{id}}">Blog Title: {{title}} --- Post id: {{id}}</h1>
    <p data-post="{{id}}">Content: {{content}}    Date created: {{created}}</p>
</div>
{{/each}}