<div class="dashboard-main">
  {{#each posts as |post|}}
    <div class="post-card card" data-post="{{id}}">
      <h2 id="post-title" data-post="{{id}}">{{title}}</h2>
      <p data-post="{{id}}">Date created: {{created}}</p>
    </div>
  {{/each}}
  <button class="add-post btn btn-dark"><a href="/api/dashboard/add" class="add-post">Add New Post</a></button>
</div>